.rojo {
	background-color: #ee3e64;
}

.cian {
	background-color: #44accf;
}

.verde {
	background-color: #b7d84b;
}

.amarillo {
	background-color: yellow;

}

div {
	width: 200px;
	height: 200px;
	position: relative;
}


div:nth-child(3){
	position: absolute;
	top:208px;
	left: 208px;
}
