.rojo {
	background-color: #ee3e64;
}

.cian {
	background-color: #44accf;
}

.verde {
	background-color: #b7d84b;
}

div {
	width: 200px;
	height: 200px;
	margin: 0px;
	padding: 0px;
	position: relative;
}

div:nth-child(2){
	left: 200px;
}
